@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-2xl: 1440px;
  --font-jaro: "Jaro", sans-serif;
  --color-dark: #0a111f;
  --color-contrasted: #fca311;
  --color-neutre: #e5e5e5;
  --color-blue: #14213d;
  --animate-skelton: skelton 2s linear infinite;
}

body {
  @apply text-neutre;
}

@keyframes skelton {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
